* {
  cursor: url('../../../assets/foguete.png'), default;
}

.container {
  background-color: #0a192f;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #070f1b, #0c0836, #000000);
  overflow: hidden;
}

.stars {
  background-image: url('../../../assets/images/backgrounds/stardust.png');
  height: 100vh;
  position: relative;
}

.stars::after {
  animation: twinkle 4s infinite;
  background-image: url('../../../assets/images/backgrounds/stardust.png');
  content: "";
  height: 100%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
  z-index: -1;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.planet {
  margin-top: 10%;
  font-weight: bold;
  font-size: 15px;
}

.planet:hover {
  animation: pulse 0.6s linear infinite;
  opacity: 1;
}

.planet p {
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

img {
  max-width: 400px;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}