.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Definir a largura da div */
  height: 100%; /* Definir a altura da div */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.card {
  width: 750px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 10px;
}


/* Estilização do background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: rgb(44, 21, 222);
  background: linear-gradient(90deg, rgba(26, 11, 141, 0.774) 0%, rgb(94, 10, 82) 50%, rgb(2, 2, 2) 100%);
  background-size: 200% auto;
  animation: gradientAnimation 10s ease infinite;
  
}

/* Estilização da imagem no centro */
.center-image {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 800px;
  transform: translate(-50%, -50%);
  animation: pulse 8s infinite;
  opacity: 0.3;
}

/* Animação de aumento e diminuição */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}



/* Defina o tamanho, a cor e a posição inicial do quadrado */
.square {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}


/* Defina a animação */
@keyframes showSquare {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Aplique a animação ao quadrado */
.square {
  animation-name: showSquare;
  animation-duration: 5s;
}

/* Garanta que o quadrado seja visível por 3 segundos */
.square::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: hideSquare 3s;
}

@keyframes hideSquare {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


