<app-header>Materiais para estudo</app-header>
<div>
  <button mat-raised-button color="primary" [routerLink]="['/adicionarmaterial']" routerLinkActive="router-link-active" >ADICIONAR ATIVIDADES</button>
</div>

<div class="row">
  <mat-expansion-panel class="item-12">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Atividades
      </mat-panel-title>
      <mat-panel-description>
        Clique para Carregar as atividades
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>

<!-- 
<div class="row">
  <mat-form-field class="item-12" appearance="fill">
    <mat-label>teste</mat-label>
    <input matInput>
  </mat-form-field>
</div> -->