<app-header>Atividades para estudo</app-header>
<div>
  <button mat-raised-button color="primary" routerLink="/material/adicionarmaterial">Adicionar atividade</button>
</div>

<div>
 
  <table *ngIf="atividades" mat-table [dataSource]="atividades" class="mat-elevation-z8">
    <ng-container matColumnDef="phaseId">
      <th mat-header-cell *matHeaderCellDef>ID da Fase de origem</th>
      <td mat-cell *matCellDef="let atividade">{{ atividade.phase }}</td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título do documento</th>
      <td mat-cell *matCellDef="let atividade">{{ atividade.title }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['phaseId', 'title']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['phaseId', 'title']"></tr>
  </table>
</div>
