table {
  width: 100%;
}

button {
  margin: 25px;
}

.mat-column-acoes {
  width: 300px;
  text-align: center;
  font-weight: bold;
}

table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}