<div class="card-container">
  <div *ngFor="let activity of activities" class="card">

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{activity.title}}</mat-card-title>
      </mat-card-header>

      <div class="phase" fxLayout="column" fxLayoutAlign="center center" (click)="download(activity)">
        <img src="../../../../assets/images/study/study02.png" alt="Imagem Aleatória">
      </div>
    </mat-card>
  </div>

  <div class="card">
    <mat-card (click)="goToProof()" >
      <mat-card-title>Vença a guardiã da fase!</mat-card-title>
      <div class="phase" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="bossImage">
        <p></p>
      </div>
    </mat-card>
  </div>
  <app-card-pontuacao></app-card-pontuacao>
  <app-to-home-button></app-to-home-button>
</div>