<app-header>Adicionar nova fase de aprendizado</app-header>
<div>
    <mat-card class="divCard">
        <form (ngSubmit)="submitForm()" #myForm="ngForm">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput name="title" [(ngModel)]="formData.title" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>World</mat-label>
              <mat-select name="world" [(ngModel)]="formData.world" required>
                <mat-option *ngFor="let option of worldOptions" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" [disabled]="!myForm.valid">Salvar nova fase</button>
          </form>          
    </mat-card>
</div>