<app-header>Cadastro de novo usuário</app-header>
<div class="content">
  <mat-card class="card">

    <form [formGroup]="usuarioForm" (ngSubmit)="cadastrarUsuario()">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="username" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" autocomplete="current-password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Cadastrar</button>

    </form>

  </mat-card>

</div>