<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/nivel/lista">
                <mat-icon>leaderboard</mat-icon>Módulos
            </a>
            <a mat-list-item routerLink="/material/lista">
                <mat-icon>auto_stories</mat-icon>Material de estudo
            </a>
            <a mat-list-item href="#">
                <mat-icon>laptop_chromebook</mat-icon>Atividades
            </a>
            <a mat-list-item href="#">
                <mat-icon>school</mat-icon>Avaliações
            </a>
            <a mat-list-item routerLink="/usuario/lista">
                <mat-icon>person</mat-icon>Usuários
            </a>
            <a mat-list-item href="#">
                <mat-icon>insights</mat-icon>Desempenho
            </a>
            <a mat-list-item href="#">
                <mat-icon>logout</mat-icon>Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
