<app-header>Lista de fases cadastradas</app-header>
<div>
  <button mat-raised-button color="primary" routerLink="/nivel/novo">Adicionar nova fase</button>
</div>

<table mat-table [dataSource]="fasesCadastradas" class="mat-elevation-z0">
  <ng-container matColumnDef="world">
    <th mat-header-cell *matHeaderCellDef>Mundo de conhecimento</th>
    <td mat-cell *matCellDef="let fase">{{ fase.world }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID da fase</th>
    <td mat-cell *matCellDef="let fase">{{ fase.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Tema da fase</th>
    <td mat-cell *matCellDef="let fase">{{ fase.title }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let fase; columns: displayedColumns;"></tr>
</table>


