.earth-background {
  gap: 5px;
  justify-content: center;
  background-position: center center;
  background-size: cover; 
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 30px;  
}
