.earth-background {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  background-position: center center;
  background-size: cover; 
}

h1 {
  font-size: 30px;
  text-align: center;
  top: 15px;
  margin: 20px; 
  font-weight: bold;
}

mat-card {
  max-width: 750px;
  margin: 20px; 
}