html, body { height: 100%; margin: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* responsividade feita por Moises */
@mixin flex-direction-row {
    display       : flex;
    flex-direction: row
}

@mixin flex-direction-column {
    display       : flex;
    flex-direction: column;
}

@mixin flex-item() {
    flex         : 0 0 auto;
    padding-right: 5px
}
@function percentBloco($i){
    @return percentage($i/12)-0.3%;
}

.row {
    @include flex-direction-row();
}

.column {
    @include flex-direction-column();
}

.wrap {
    flex-wrap: wrap
}

.item-auto {
    flex: 1 1 auto
}

@for $i from 1 through 12 {
    .item-#{$i} {
        @include flex-item();
        width: percentBloco($i)
    }
}

@media screen and (max-width:599px) {
    .row-xs {
        @include flex-direction-row();
    }

    .column-xs {
        @include flex-direction-column();
    }

    .wrap-xs {
        flex-wrap: wrap
    }

    @for $i from 1 through 12 {
        .item-#{$i}-xs {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:600px) and (max-width:959px) {
    .row-sm {
        @include flex-direction-row();
    }

    .column-sm {
        @include flex-direction-column();
    }

    .wrap-sm {
        flex-wrap: wrap
    }

    .item-auto-sm {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-sm {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:1280px) and (max-width:1398.98px) {
    .row-md {
        @include flex-direction-row();
    }

    .column-md {
        @include flex-direction-column();
    }

    .wrap-md {
        flex-wrap: wrap
    }

    .item-auto-md {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-md {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:1400px) and (max-width:1919.98px) {
    .row-lg {
        @include flex-direction-row();
    }

    .column-lg {
        @include flex-direction-column();
    }

    .wrap-lg {
        flex-wrap: wrap
    }

    .item-auto-lg {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-lg {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:1920px) and (max-width:5000px) {
    .row-xl {
        @include flex-direction-row();
    }

    .column-xl {
        @include flex-direction-column();
    }

    .wrap-xl {
        flex-wrap: wrap
    }

    .item-auto-xl {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-xl {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:600px) and (max-width:839.98px) and (orientation:portrait) {
    .row-tp {
        @include flex-direction-row();
    }

    .column-tp {
        @include flex-direction-column();
    }

    .wrap-tp {
        flex-wrap: wrap
    }

    .item-auto-tp {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-tp {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}

@media screen and (min-width:960px) and (max-width:1279.98px) and (orientation:landscape) {
    .row-tl {
        @include flex-direction-row();
    }

    .column-tl {
        @include flex-direction-column();
    }

    .wrap-tl {
        flex-wrap: wrap
    }

    .item-auto-tl {
        flex: 1 1 auto
    }

    @for $i from 1 through 12 {
        .item-#{$i}-tp {
            @include flex-item();
            width: percentBloco($i)
        }
    }
}